
/*SERVICIOS*/

.services {
	.card-body {

		
		i {
			font-size: 50px;
		}
	}
}
.team {
	.card-body {
		i {
			font-size: 20px;
		}
	}
}
.about-img {
	margin-top: 10vh;
	width: 100%;
	height: 100%;
}

/* FOOTER*/



.redes-container ul li a{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	text-decoration: none;
	padding: 0 10px;
	color: #fff;
	font-size: 18px;
	box-shadow: 0 3px 5px 0px rgb(0, 0, 0, .2);
	transition: .2s;
}

.redes-container ul:hover a{
	filter: blur(2px);
}

.redes-container ul li a:hover{
	transform: translateY(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0px rgb(0, 0, 0, .2);
	filter: none;
}

.redes-container ul li .Facebook:hover{
	color: #005AA7;
}
.redes-container ul li .Whatsapp:hover{
	color: #a8ff78;
}

.redes-container ul li .Instagram:hover{
	color: #DA4453;
}
